@view-transition {
  navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0s;
}

body {
  background: #000;
}

.page-shell {
  background: #fff;
}

*,
* {
  font-family: "Roboto";
}
